<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753856236935-oim2c77dbqb526ekc7dlcf3nbl3gloef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753856236935-oim2c77dbqb526ekc7dlcf3nbl3gloef</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ3qPn0G6dxQblkJ204QHkfj92cLsAB0w</string>
	<key>GCM_SENDER_ID</key>
	<string>753856236935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ducdt.cvdecklist</string>
	<key>PROJECT_ID</key>
	<string>cvdecklist</string>
	<key>STORAGE_BUCKET</key>
	<string>cvdecklist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753856236935:ios:3363b284ad712c20b99722</string>
	<key>DATABASE_URL</key>
	<string>https://cvdecklist.firebaseio.com</string>
</dict>
</plist>